.product-card {
  width: 350px;
  min-height: 450px;
  box-sizing: border-box;

  border: 1px solid hsl(0, 0%, 87%);
  padding: 15px;
  margin: 10px;

  border-radius: 8px;
  font-family: Lato, sans-serif;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-card:hover {
  transition: all 0.3s ease;
  transform: scale(1.02);
}

.product-image {
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-info {
  padding: 1rem;
}

h3 {
  margin: 0 0 10px 0;
  color: hsl(0, 0%, 20%);
  font-size: 1.2em;
}

p {
  margin: 5px 0;
  color: hsl(0, 0%, 40%);
}

.description {
  font-size: 0.9em;
  margin: 10px 0;
}

.additional-info {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  padding-top: 10px;
  border-top: 1px solid #eee;
  gap: 1rem;
}

.price {
  color: hsl(145, 65%, 41%);
  font-weight: bold;
}

.rating {
  color: hsl(48, 89%, 50%);
}

.low-stock {
  color: hsl(6, 94%, 38%);
}

.out-of-stock {
  color: hsl(6, 100%, 47%);
}
